[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GMX"]
	path = GMX
	url = https://github.com/cran/GMX
[submodule "RMX"]
	path = RMX
	url = https://github.com/cran/RMX
